<form method="post" action="{{ path('subuser_crud_delete', {'id': subuser.id}) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć ten rekord?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subuser.id) }}">
    <button class="deleteButton">Usuń</button>
</form>
