{% extends 'admin/base.html.twig' %}

{% block title %}New Subuser{% endblock %}
{% block navigation %}{% endblock %}

{#{% block body%}#}
    {% block content %}
        <h2>Create new Subuser</h2>

        {{ include('admin/subuser_crud/_form.html.twig') }}

        <a class="profileButton" href="{{ path('subuser_crud_index') }}">wróć</a>
    {% endblock %}
{#{% endblock %}#}

