{% block stylesheets %}
    <link rel="stylesheet" href="assets/user.css">
{% endblock %}
<div id="headerContainer">
    <div class="brandLogoWrapper">
        <a class="logo" href="/" target="_parent">
            <img class="logo" src="{{ asset('images/netflixLogo.svg.png') }}" alt="av1"/>
        </a>
    </div>
</div>
{% block body %}

    <body></body>
    <div class="main">
        <div class="profilesContainer">
            <div class="profilesList">
                <h1 class="profilesLabel"> Zarządzaj profilami:</h1>
                <ul class="chooseProfile">
                    {% for subuser in subUsers %}
                        <li class="profile">
                            <div>
                                <a class="profileLink" href="/browse">
                                    <img src="{{subuser.avatar}}" class="round" alt="av1"/>
                                </a>
                            </div>
                            <span class="profileName">{{ subuser.name }}</span>
                        </li>
                    {% endfor %}

                    {% if form is defined %}
                    {{ form(form) }}
                    {% endif %}
                </ul>
{#            <a class="navbar-brand" href="/">#}
{#                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Netflix_2015_logo.svg/1280px-Netflix_2015_logo.svg.png"
{#                     width="167" height="45" style="vertical-align:middle;margin:20px 50px" alt="netflixLogo"/>#}
{#            </a>#}
{#            <a class="navbar-brand" href="/">#}
{#                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Netflix_2015_logo.svg/1280px-Netflix_2015_logo.svg.png"#}
{#                     width="167" height="45" style="vertical-align:middle;margin:20px 50px" alt="netflixLogo"/>#}
{#            </a>#}
            </div>
            <div id="buttonDiv">
                <a>
                    <a class="profileButton" href="/chooseUser">Gotowe</a>
                </a>
            </div>
        </div>


    </div>


{#    <a href="/browse">#}
{#        <button type="button" class="buttonNext">Dalej</button>#}
{#    </a>#}
{% endblock %}