<form method="post" action="{{ path('app_movie_crud_delete', {'id': movie.id}) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć ten rekord?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ movie.id) }}">
    <button class="deleteButton">Usuń</button>
</form>
