{% extends 'admin/base.html.twig' %}

{% block title %}New Profile{% endblock %}

{% block navigation %}{% endblock %}

{% block content %}
    <h2>Create new Profile</h2>

    {{ include('admin/profile_crud/_form.html.twig') }}

    <a class="profileButton" href="{{ path('profile_crud_index') }}">wróć</a>
{% endblock %}


