{% block stylesheets %}
    <link rel="stylesheet" href="assets/footer.css">
{% endblock %}

<footer class="footer">
    <div class="container-fluid mt-5">
        <p>Pytania? Zadzwoń pod numer <a href="#">00 800 112 4392</a></p>
        <div class="row text-center">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="sub-links">
                    <ul>
                        <li><a href="#">Często zadawane pytania</a></li>
                        <li><a href="#">Relacje z inwestorami</a></li>
                        <li><a href="#">Jak oglądać?</a></li>
                        <li><a href="#">Informacje o firmie</a></li>
                        <li><a href="#">Tylko na Netflix</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="sub-links">
                    <ul>
                        <li><a href="#">Centrum pomocy</a></li>
                        <li><a href="#">Praca</a></li>
                        <li><a href="#">Warunki korzystania</a></li>
                        <li><a href="#">Skontaktuj się z nami</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="sub-links">
                    <ul>
                        <li><a href="#">Konto</a></li>
                        <li><a href="#">Zrealizuj karty podarunkowe</a></li>
                        <li><a href="#">Prywatność</a></li>
                        <li><a href="#">Test prędkości połączenia</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="sub-links">
                    <ul>
                        <li><a href="#">Media Center</a></li>
                        <li><a href="#">Kup karty podarunkowe</a></li>
                        <li><a href="#">Ustawienia plików cookie</a></li>
                        <li><a href="#"> Informacje prawne</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="custom-select">
        <select>
            <option value="0">Polski</option>
            <option value="1">English</option>
        </select>
    </div>
    <p>&copy Netflix Polska</p>
    <p>Made With Symfony Kamil Szymik</p>
</footer>
